{%load static %}
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">System Management</a>
		</div>
		<ul class="nav navbar-nav" id="navlist" >
			{% if request.user.is_authenticated %}
				{% if request.user.role == "manager" %}
					<li ><a href="{%url 'home:employees_list' %}">Employee</a></li>
				{% endif %}
				<li ><a href="{%url 'projects:project_list' %}">Projects</a></li>
			{% endif %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{% if request.user.is_authenticated %}
				<li><a href="#">Welcome {{request.user.email}}</a></li>
				<li><a href="{%url 'account_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			{% else %}
				<li><a href="{%url 'account_signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="{%url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			{% endif %}
		</ul>
	</div>
</nav> 
